In [27]:
import pandas as pd
import yfinance as yf
import sqlalchemy
from sqlalchemy import create_engine
from datetime import datetime
from finance_functions import get_opening_prices, insert_ignore_method

ImportError: cannot import name 'insert_ignore_method' from 'finance_functions' (c:\Users\wikku\personal_finance\finance_functions.py)

In [18]:
## NEW STOCK WORKFLOW ##
engine = create_engine("mysql+pymysql://root:root@localhost:3306/finance?charset=utf8mb4") #MySQL connection

new_stock = pd.read_excel('C:/Users/wikku/personal_finance/stock.xlsx')                    # Everytime i make a trade, put the stocks in here

stock_table_df = new_stock.drop(columns=['date_opened', 'quantity', 'account_id'])

In [19]:
################################################################################################
ticker = stock_table_df['ticker'].to_list()

data = yf.download(ticker, period="1d")                                                         # probably not the most effective to get stock price if i dont need it, but who GAF
current_prices = data['Close'].iloc[-1]

stock_table_df['current_price'] = stock_table_df['ticker'].map(current_prices)

################################################################################################

C:\Users\wikku\AppData\Local\Temp\ipykernel_31748\3647836635.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, period="1d")                                                         # probably not the most effective to get stock price if i dont need it, but who GAF
[*********************100%***********************]  1 of 1 completed

In [20]:
stock_table_df

  ticker              company_name       sector  current_price
0    IVV  iShares Core S&P 500 ETF  US Equities     648.320007

In [21]:
stock_table_df.to_sql("temp_stock", engine, if_exists="replace", index=False, chunksize=1000, method='multi')    #put the trades into a temporary table, evertime i put em in, i replace the whole table

query = """
SELECT temp_stock.* from temp_stock 
LEFT JOIN stocks ON temp_stock.ticker = stocks.ticker 
WHERE stocks.ticker IS NULL;
"""  #do an exclusive join, I only want to add new stocks, stocks ive never invested in before. This is because in my stocks table, ticker is a primary key - no duplicates!

stock_df = pd.read_sql(query, engine)  #read that query

In [23]:
if not stock_df.empty:
    stock_df.to_sql('stocks', engine, if_exists="append", index=False, chunksize=1000, method='multi')
    print(f"Added {len(stock_df)} new stocks to database")
    
    # FIX: Actually assign the merged result to a variable
    merged_stock_df = stock_df.merge(new_stock, on='ticker', how='left') #now we've got date opened and quantity, so we can get position stuff
    
    position_df = merged_stock_df[['ticker', 'date_opened', 'quantity', 'account_id']] #only use whats needed for positions table
    position_df = get_opening_prices(position_df)
    position_df.to_sql("positions", engine, if_exists="append", index=False, chunksize=1000, method='multi')
    print(f"Added {len(position_df)} new positions to database")
else:
    print("No new stocks to add")

No new stocks to add

In [24]:
##############################################################################################################################################################################################

# Adding positions for existing stocks (doesn't necessarily have to be a new stock)
# Get all positions from the Excel file, not just new stocks
all_positions_df = new_stock[['ticker', 'date_opened', 'quantity', 'account_id']].copy()
all_positions_df = get_opening_prices(all_positions_df)
all_positions_df.to_sql('positions', engine, if_exists='append', index=False, method=insert_ignore_method)
print(f"Processed {len(all_positions_df)} total positions (new positions added via INSERT IGNORE)")

Error getting price for IVV: name 'yf' is not defined

AttributeError: 'Insert' object has no attribute 'ignore'